/*HEADER*/

body {
    font-family: Arial, Helvetica, sans-serif;
	background-image: url(Medien/bg.png); 
    }

/*NAVIGATION*/

header{
    height: 200px;
    position: relative;
    left: 50%;
    width: 1000px;
    margin-left: -500px;
}

nav{
    float: right;
    position: sticky;
    top: 0%;
    left: 60%;
    margin-top: -1300px;
    border-radius: 0 px;
    display: inline;
    padding: 5px 0 10px 0;
    background-color: black;
    width: ; 
    z-index: 2;
    
}

nav a{
    font-size: large;
    padding: 0px 15px 0px 15px;
    color: white;
    text-decoration: none;
}

/*RESPONSE*/

a:hover{
    color: #be3c14;
    transition-duration: 0.4s;
}

.activePage{
    color:#be3c14 ;
}

/*KREIS*/

#kreis{
    position: relative;
    top: -550px;
    width: 800px;
    height: 800px;
    margin: auto;
    background-color:#be3c14 ;
    border-radius: 400px;
    
}

/*KREIS CONTENT*/

 #kreis p:nth-child(1){
    background-image: url(Medien/bg.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    letter-spacing: -16px;
    font-size: 12em;
    position: relative;
    top: 46%;
    text-align: center;
}

#kreis p:nth-child(2){
    background-image: url(Medien/bg.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4em;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 45%;
    top: 60%;
}

#kreis p:nth-child(3){
    background-image: url(Medien/bg.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 45%;
    top: 75%;
    font-size: 15px;
    color: white;
    text-align: left;
}

/*KREIS ICONS*/

#kreis a :nth-child(1){
    position: absolute;
    left: 45%;
    top: 90%;
}

#kreis #RKF_würfel{
    height: 12%;
    position: relative;
    left:15%;
    top: 33%;
}

#loremipsum p{
    font-size: 50px;
    color: white;
    text-align: center;
    margin: -200px 0 0 300px;

}



/*MAIN*/

/*MEDIEN*/

main{
    position: relative;
    left: 50%;
    margin-top: 200px;
    width: 800px;
    margin-left: -400px;
}

#bilder {
    display: block ;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    font-size: 20px;
    color: #be3c14;
}

#bilder img :nth-child(1){
    
}

#animation{
    display: block ;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    
}

#animation video{
    margin: 5px 0 5px 0;
    display: block ;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#animation p{
    font-size: 20px;
    color: #be3c14;
    
}

/*TEXT*/

.fließtext{
    line-height: 40px;
    font-size: 20px;
    text-align: justify;
    margin: auto;
    width: 800px;
}

.fließtext p:nth-child(2){
    text-align: center;
    padding-top: 30px;
}

#leitsatz{
    font-size: xx-large;
    color: #973000;
    text-align: center;
}



/*KONTAKTDATEN*/

#kontakt{
    width: 800px;
    position: absolute;
    left: 0;  
}

#kontakt div:nth-child(1){
    font-weight: 500;
    color:#be3c14 ;
    font-size: 30px;
}

input{
    display: block;
    margin: 10px 0 10px 0;
    border: none;
    border-radius: 0;
    background-color: rgb(177, 177, 177);
    padding: 10px;
}

.daten :nth-child(4){
    width: 200px ;
    height: 50px;
}

input::placeholder{
    color:rgb(255, 255, 255);
    opacity: 1;
}

#bestätigung{
    color: rgb(177, 177, 177);
}

#bestätigung{
    font-size: 10px;
}

.button{
    
    color:white;
    padding: 0 10px 0 10px;
    display: inline-block;
    background-color: rgb(177, 177, 177);
}

.button a{
    color: white;
    text-decoration: none;
}

.button a:hover{
    animation-duration: 0.4s;
    color: #be3c14 ;
   
}

/*FOOTER*/

footer div{
    margin-top: 100px;
    height: 150px;
    width: 100%;
    background-color: grey;
    display: inline-block;
}

#footer{
    padding-top: 20px;
    background-color: grey;
    width: 800px;
    margin: auto;
}

#footer p{
    padding: 20px;
    color: white;
    display: inline;
}
