/*HEADER*/

body {
    font-family: Arial, Helvetica, sans-serif;
	background-image: url(medien/bg.png);
    

}

/*NAVIGATION*/

#navigation{
    margin: -10px 0 0 1200px;
    position: sticky;
    top: 0; 
}

a{
    text-decoration: none;
}

a:hover{
    color: #be3c14;
}

a:active{
    color: #be3c14;
}


nav {
    text-align: center;
    font-size: x-large;
    background-color: black;
    padding: 5px;
    width: 300px; 
    z-index: 3;   
}

nav a{
    color: white;
    
}



#loremipsum p{
    font-size: 50px;
    color: white;
    text-align: center;
    margin: -200px 0 0 300px;

}

#kreis{
    margin-left: auto;
    margin-right: auto;
    background-color: #be3c14;
    width: 800px;
    height: 800px;
    border-radius: 400px;
    margin-top: -550px;
    
 }

 #kreis p{
    color: white;
    font-size: 210px;
     text-align: center;
     padding-top: 120px;
     letter-spacing: -20px;
     font-weight: 700;

 }

/*CONTENT*/

main{
    margin-top: 200px;
}

#bilder {
    display: block ;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    font-size: 20px;
    color: #be3c14;

}

#animation{
    display: block ;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    
}

#animation video{
    margin: 5px 0 5px 0;
    display: block ;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#animation p{
    font-size: 20px;
    color: #be3c14;
    
}

/*KONTAKTDATEN*/

.daten{
    box-sizing: content-box;
    color: black;
    background-color: rgb(200, 200, 200);
    padding: 3px;
    margin-left: 100px;
}

.daten p{
    margin: 30px 0 30px 0;
}