body {
    font-family: Arial, Helvetica, sans-serif;
	background-image: url(medien/bg.png);
    
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

nav a:hover{
    color: #be3c14;
}

nav a:visited{
    color: #be3c14;
}

nav {
   
    text-align: center;
    color: black;
    font-size: xx-large;
 
}

.sticky{
    position: sticky;
    top: 0;
}

a{
    text-decoration: none;
    color: black;
}

li{
    padding: 3px;
    width: 800px;
    display: inline-block;   
    float: right; 
}

li a{
    display: block;
}

ul{
    list-style-type: none;
    text-align: top;
}

#loremipsum p{
    font-size: 50px;
    color: white;
    z-index: 2;
    text-align: right;
}

#kreis{
    background-color: #be3c14;
    width: 800px;
    height: 800px;
    border-radius: 400px;
    z-index: 1;
    margin-top: -550px;
    
 }

 #kreis p{
    color: white;
    font-size: 210px;
     text-align: center;
     padding-top: 320px;
     letter-spacing: -20px;
     font-weight: 700;
     z-index: 2;

 }

#bilder {
    display: block ;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    font-size: 20px;

}

#animation{
    display: block ;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#animation video{
    margin: 5px 0 5px 0;
    display: block ;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#animation p{
    font-size: 20px;
    
}