@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Varela+Round&display=swap');


body{
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    background-color: rgb(59, 59, 59);
}

/*============= WRAPPER GRID ===========*/

#wrapper{
    
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: 1fr 1fr 1fr  1fr 1fr;
    grid-template-areas:
        "header header header"
        ". newTask ."
        " . instruction . "
        ". todolist ."
        ;
}

/*============== HEADER =============*/

#header{
    grid-area: header;    
    display: grid;    
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 200px 50px 100px;
    grid-template-areas: 
        "headertext headertext headertext"
        " . countertext . "
        "counter counter counter";

        background-color: rgb(41, 41, 41);

    
}

#headertext{
    grid-area: headertext;
    font-size: 100px;
    justify-self: center;
    align-self: center;
    font-family: 'Bungee Shade', cursive;   
    color: white;
}

/*=========== COUNTER ============*/

#countertext{
    grid-area: countertext;
    text-align: center;
    font-size: 30px;
    color: white;

}

#taskCounter{
    grid-area: counter;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px;
    grid-template-areas: 
        " . total checked deleted . ";
    
    font-size: 40px;
    place-self: center;
    /*font-family: 'Bungee Shade', cursive;*/
    column-gap: 2em;
    
}



/*TOTAL*/

#total{
    grid-area: total;
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 1fr;
    grid-template-areas: 
        " totalimg totalnum ";

        background-color: rgb(197, 197, 197);
        font-size: 20px;
        text-align: center;
        border-radius: 2px;
        
}

#totalimg{
    grid-area: totalimg;
    font-size: 35px;
    
}

#totalnum{
    grid-area: totalnum;
    place-self: center;
    font-size: 30px;

}



/*CHECKED*/

#checked{
    grid-area: checked;
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 1fr;
    grid-template-areas:
        " checkedimg checkednum ";

        background-color: rgb(197, 197, 197);
        border-radius: 2px;
    
}

#checkedimg{
    grid-area: checkedimg;
    background-image: url(images/checkHaken.png);
        background-position: center;
        background-size: 40px;
        background-repeat: no-repeat; 
}

#checkednum{
    grid-area: checkednum;
    place-self: center;
    font-size: 30px;
}

/*DONE*/

#deleted{
    grid-area: deleted;
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 1fr;
    background-color: rgb(197, 197, 197);
    grid-template-areas: 
        " deletedimg deletednum ";

        border-radius: 2px;
}

.fa-trash-alt{
    font-size: 20px;

}
#deletedimg{
    grid-area: deletedimg;
    
}

#deletednum{
    grid-area: deletednum;
    place-self: center;
    font-size: 30px;
}



#header >p:nth-child(2){
    grid-area: counter;
    font-family: 'Varela Round', sans-serif;
    place-self: center;
}

/*================ TASK´S ==========*/

/* NEW TASK */

#TaskInput{
    grid-area: newTask;
    width: 100%;
    height: 40px;
    border-radius: 2px;
    border: none;
    padding-left: 20px;
    font-size: large;
    outline: none;
    place-self: center;
    font-family: 'Varela Round', sans-serif;

}

#instruction{
    grid-area: instruction;
    
    place-self: center;
    text-decoration: none;
    color: white;
    list-style-type: none;
    display: inline;
    text-align: center;
    background-color: rgb(41, 41, 41);
   
}


#addbtn{
    height: 50px;
    width: 100px;
}

/* ToDo LIST */


#todolist{
    grid-area: todolist;
    height: 700px;
}


.tasks{
    margin: 10px 0 0 0 ;
    background-color: rgb(41, 41, 41);
    
    display: grid;
    grid-template-columns: 70px 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas: 
        "check listtext listtext del   "    
    ;

}

.list-item{
    grid-area: listtext;
    place-self: center;
    
    
    color: white;
    font-size: 20px;
    text-align: left;
    text-justify:initial;
    list-style: none;
    border-radius: 2px;
    
}

.BtnDel{
    font-family: 'Varela Round', sans-serif;
    grid-area: del;
    height: 50px;
    width: 80px;
    justify-self: right;
    align-self: center;
    border-radius: 0;
    border: none;
    background-color: rgb(255, 38, 38);
    color: white;
    font-size: 15px;
    border-top-right-radius: 3px;
    border-end-end-radius: 3px;
}

.BtnCheck{
    
    grid-area: check;
    height: 50px;
    width: 50px;
    border-radius: 0;
    border: none;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 3px;
    border-end-start-radius: 3px;

}

.BtnDel:active{
    background-color: rgb(180, 21, 21);
}

/* CHECK BUTTON */

.check{
    background-image: url(images/checkHaken.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.check:hover{
    background-color: rgb(238, 238, 238);

}

.check:active{
    background-color: rgb(172, 172, 172);
    border-color: rgb(63, 63, 63);
}

#flowchart{
    border-radius: 0;
    text-decoration: none;
    color: black;
    
}