body{
    background-image: url(images/bg.png);
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px;
    grid-gap: 1em;
}

.wrapper >div{
    background-color: turquoise;
}

.wrapper > div:nth-child(2){
    
    
}

.karte{
    background-image: url(images/wrapperbg.png);
    display: grid;
    grid-template-columns: 4,1fr;
    grid-template-rows: 400px;

}
